.vscode
.Thumbs.db[1;5D[1;5D[1;5D[1;5D[1;5D[1;5D[1;5D[D[[C[D[D[C[C[C[C[C[C[C[C[C[C[C[C[D[D[D[D[D[D[D[D[D[D[C[C[C[C[C[C[C[C[C[C
[C[A[C[C[C[C[C[CThumbs.db
desktop.ini[A[A[D[D[D[D[D[C/[B[B[C[C[C
